@font-face {
	font-family: 'robotobold';
	src: url('../fonts/roboto/roboto-bold-webfont.woff2') format('woff2'),
		url('../fonts/roboto/roboto-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'robotoregular';
	src: url('../fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),
		url('../fonts/roboto/roboto-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'exo2bold';
	src: url('../fonts/exo2/exo2-bold-webfont.woff2') format('woff2'),
		url('../fonts/exo2/exo2-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

$blue: #0078E6;
$dark-blue: #1E3456;
$yellow: #FECC49;
$grey: #888F9E;
$white: #fff;

$body-color: $grey;
$body-bg: $white;
$primary : $blue;
$inverse: $white;
$headings-color: $dark-blue;
$box-shadow-color: $dark-blue;
$accent-color: $yellow;

$padding-top-fixed: 90px;

$heading-family: 'exo2bold',
sans-serif;
$copy-family: 'robotoregular',
sans-serif;
$copy-family-bold: 'robotobold',
sans-serif;

$transition-value: all .3s ease-in-out;