.navbar__title {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin: auto;
  font-family: 'Exo 2', sans-serif;
  color: orangered !important;
  font-weight: bold; }

.navbar__text {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 0.7em; }

.navbar__icon-search {
  margin: 0em 2.2em 0em 0em; }

.fa-stack[data-count]:after {
  position: absolute;
  right: 30%;
  top: 1%;
  content: attr(data-count);
  font-size: 40%;
  padding: .6em;
  border-radius: 999px;
  line-height: .75em;
  color: white;
  background: orangered;
  text-align: center;
  min-width: 2em;
  font-weight: bold; }

.jumbotronn {
  position: relative;
  text-align: center;
  background-color: white;
  margin: 0.5em 0 0.5em 0; }

.jumbotron__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Exo 2', sans-serif;
  color: white; }

.jumbotron__text-bold {
  font-weight: bold;
  color: white; }

.jumbotron__image {
  width: 100%;
  height: 300px; }

.under-jumbotron {
  color: grey;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  margin-top: 2em; }

.under-jumbotron__left {
  float: left;
  padding-left: 45px;
  padding-right: 103em; }

.under-jumbotron__right {
  text-align: right; }

.card-box {
  margin-right: 2em;
  background-color: grey;
  margin-bottom: 1em; }

.card-box__card {
  margin-right: 2px;
  margin-left: 10px; }

.card-box__image {
  width: 6rem;
  height: 16rem; }

.card-box__card-title {
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
  text-align: center;
  color: black;
  font-size: 1em; }

.card-box__card-text {
  color: orangered;
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
  text-align: center; }

.pagination {
  position: absolute;
  right: 50%;
  left: 50%;
  margin-bottom: 2em; }

.pagination__active {
  background-color: orangered; }

.footer {
  background-color: white;
  height: 5em;
  margin-top: 4em; }

.footer__text {
  padding-top: 2.5em;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 0.75em;
  color: grey; }

/*# sourceMappingURL=styles.css.map */
