.navbar-text {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
    padding-top: 10px;
}
.container-fluid{
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}
.text_centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.jumbotron-img{
    width: 100%;
    height: 300px;
}
.card{
    width: 12 rem;
    height: 180 rem;
}